@font-face {
    font-family: 'Klee One';
    src: local('Klee One'),
         url('../fonts/KleeOne-Regular.ttf') format("truetype");
}

body {
    font-family: 'Klee One', serif;
    background-color: #364958;
    color: white;
    margin: 0px;
}

h1 {
    font-size: 6rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.login-form {
    width: 100%;
    min-height: 60vh;
    padding: 0px 30px 30px 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 0px 30px;
}

label {
    font-size: 4rem;
}

input {
    height: 6rem;
    font-size: 3rem;
    background: transparent;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-bottom: 1px solid white;
    color: white;
    box-shadow: none;
    padding-left: 100px;
    font-family: 'Klee One', serif;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: white;
}

.icon {
    position: relative;
    top: -80px;
    left: 10px;
    width: 0px;
    font-size: 3rem;
}
.icon i {
    position: absolute;
}

button {
    height: 8rem;
    font-size: 4rem;
    border-radius: 20px;
    box-shadow: none;
    background-color: #55828B;
    color: white;
    font-family: 'Klee One', serif;
}

a {
    font-size: 4rem;
    color: white;
    text-decoration: none;
}

@media (min-width: 1024px) {
    .login-form {
        width: 400px;
    }
    .container {
        margin-top: 0px;
    }
    h1 {
        font-size: 2rem;
    }
    label {
        font-size: 1.3rem;
    }
    input {
        height: 40px;
        font-size: 1rem;
    }
    button {
        font-size: 1.3rem;
        height: 50px;
    }
    a {
        font-size: 1rem;
    }
    .icon {
        font-size: 1rem;
        top: -30px;
    }
    input {
        padding-left: 2.5rem;
    }
}



