h1 {
    color: #212922;
    font-size: 6rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form {
    width: 100%;
    min-height: 60vh;
}

.login-form {
    box-shadow: 0px 0px 10px #69626D;
    border-radius: 5px;
    background-color: #AEF6C7;
    padding: 0px 30px 30px 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 0px 30px;
}

label {
    font-size: 5rem;
}

input {
    height: 6rem;
    font-size: 3rem;
}

button {
    height: 6rem;
    font-size: 3rem;
}

a {
    font-size: 4rem;
}

@media (min-width: 1024px) {
    .login-form {
        width: 400px;
    }
    .container {
        margin-top: 0px;
    }
    h1 {
        font-size: 2rem;
    }
    label {
        font-size: 1.3rem;
    }
    input {
        height: 40px;
        font-size: 1rem;
    }
    button {
        font-size: 1.3rem;
        height: 50px;
    }
    a {
        font-size: 1rem;
    }
}



