<html>
    <head>
        <title>Kanji Quiz</title>
        {% load static %}
        
        <link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}">
        <script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>
    </head>
    <body>
        <div class="container">
            <h1>Kanji Quiz</h1>
            <div class="login-form">
                <form action="{% url 'login:loginuser' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input id="username" name="username" type="text" placeholder="Username" required></input>
                        <div class="icon"><i class="far fa-user"></i></div>
                    </div>
                    <div class="form-group">
                        <input id="password" name="password" type="password" placeholder="Password" required />
                        <div class="icon"><i class="fas fa-lock"></i></div>
                    </div>
                    <div class="form-group">
                        <button>Login</button>
                    </div>
                    <div class="form-group">
                        <a href="{% url 'login:signup' %}">Sign up</a>
                    </div>
                </form>
            </div>
        </div>
        
    </body>
</html>