<html>
    <head>
        <title>Kanji Quiz</title>
        {% load static %}

        <link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}">
    </head>
    <body>
        <div class="container">
            <h1>Kanji Quiz</h1>
            <div class="login-form">
                <form action="{% url 'login:loginuser' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input id="username" name="username" type="text" required />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input id="password" name="password" type="password" required />
                    </div>
                    <div class="form-group">
                        <button>Login</button>
                    </div>
                    <div class="form-group">
                        <a href="{% url 'login:signup' %}">Sign up</a>
                    </div>
                </form>
            </div>
        </div>
        
    </body>
</html>