<html>
    <head>
        <title>Kanji Quiz</title>
        {% load static %}

        <link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}">
    </head>
    <body>
        <div class="container">
            <h1>Quiz</h1>
            <h2 id="kanji" class="kanji-display"></h2>
            <div class="option-buttons">
                <button id="option1" class="option-button" onclick="getQuestion(this.value)"></button>
                <button id="option2" class="option-button" onclick="getQuestion(this.value)"></button>
                <button id="option3" class="option-button" onclick="getQuestion(this.value)"></button>
                <button id="option4" class="option-button" onclick="getQuestion(this.value)"></button>
                <form id="answersToSend" action="{% url 'quiz:result' %}" method="POST" >
                    {% csrf_token %}
                    <input id="correctAnswers" name="correctAnswers" type="hidden" />
                    <input id="wrongAnswers" name="wrongAnswers" type="hidden" />
                </form>
            </div>
            <p id="count"></p>
            <p id="score"></p>
            <form action="{% url 'login:logoutuser' %}" method="post">
                {% csrf_token %}
                <button>Log out</button>
            </form>
        </div>
        
    </body>
    {{ kanji_list_json|json_script:"kanji-data" }}
    <script>
        var kanji_list_json = '{{ kanji_list_json }}'
    </script>
    <script type="text/javascript" src="{% static 'quiz/scripts.js' %}"></script>

</html>