<html>
    <head>
        <title>Kanji Quiz</title>
        {% load static %}

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}">
    </head>
    <body>
        <div class="container">
            <h1>Quiz</h1>
            <a href="{% url 'quiz:answer' %}?quiz=english">English</a>
            <a href="{% url 'quiz:answer' %}?quiz=kunyomi">Kunyomi</a>
            <a href="{% url 'quiz:answer' %}?quiz=onyomi">Onyomi</a>
            <p>OR</p>
            <a href="{% url 'quiz:kanjilist' %}">View kanji list</a>
            <p>OR</p>
            <form action="{% url 'login:logoutuser' %}" method="post">
                {% csrf_token %}
                <button>Log out</button>
            </form>
        </div>
        
    </body>
</html>