<html>
    <head>
        <title>Kanji Quiz</title>
        {% load static %}

        <link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}">
    </head>
    <body>
        {% include "./header.html" %}
        <div class="container">
            <h1>Quiz</h1>
            <a href="{% url 'quiz:answer' %}?quiz=english">English</a>
            <a href="{% url 'quiz:answer' %}?quiz=kunyomi">Kunyomi</a>
            <a href="{% url 'quiz:answer' %}?quiz=onyomi">Onyomi</a>
        </div>
        
    </body>
</html>