<html>
    <head>
        <title>Kanji Quiz</title>
        {% load static %}

        <link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}">
    </head>
    <body>
        <div class="container">
            <h1>Quiz</h1>
            <a href="{% url 'quiz:answer' %}?quiz=english">English Quiz</a>
            <a href="{% url 'quiz:answer' %}?quiz=kunyomi">Kunyomi Quiz</a>
            <a href="{% url 'quiz:answer' %}?quiz=onyomi">Onyomi Quiz</a>
            <p>OR</p>
            <form action="{% url 'login:logoutuser' %}" method="post">
                {% csrf_token %}
                <button>Log out</button>
            </form>
        </div>
        
    </body>
</html>