<html>
    <head>
        <title>Kanji Quiz</title>
        {% load static %}

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}">
    </head>
    <body>
        <div class="container">
            <h1>Kanji</h1>
            <a href="{% url 'quiz:index' %}">Go back to quiz selection</a>
            <div class="kanji-list">
                <div class="kanji-list-row">
                    <div>Kanji</div>
                    <div>Meaning</div>
                    <div>English</div>
                    <div>Kunyomi</div>
                    <div>Onyomi</div>
                </div>
                {% for kanji in kanji_list %}
                <div class = "kanji-list-row">
                    <div><a class="kanji-list-kanji" href="https://jisho.org/search/{{ kanji.kanji }}%20%23kanji" target="new">{{ kanji.kanji }}</a></div>
                    <div>{{ kanji.kanji.english }}</div>
                    <div>{{ kanji.times_correct_english }}/{{ kanji.times_answered_english }}</div>
                    <div>{{ kanji.times_correct_kunyomi }}/{{ kanji.times_answered_kunyomi }}</div>
                    <div>{{ kanji.times_correct_onyomi }}/{{ kanji.times_answered_onyomi }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>