@font-face {
    font-family: 'Klee One';
    src: local('Klee One'),
         url('../fonts/KleeOne-Regular.ttf') format("truetype");
}

body {
    font-family: 'Klee One', serif;
    background-color: #364958;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.option-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.option-button {
    margin: 10px 0px 10px 0px;
    width: 100%;
    display: block;
    min-height: 10rem;
    text-size-adjust: 80%;
}

.kanji-display {
    font-size: 8rem;
    margin: 0px;
}

.kanji-results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    width: 500px;
}

.kanji-char {
    font-size: 6em;
    justify-self: center;
}

.kanji-reading {
    justify-self: start;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 6rem;
}

a {
    font-size: 4rem;
    color: white;
}

.button-link {
    font-size: 4rem;
}

p {
    font-size: 4rem;
    text-size-adjust: 80%;
}

button {
    min-height: 8rem;
    font-size: 4rem;
    font-family: 'Klee One', Serif;
    border-radius: 20px;
    box-shadow: none;
    background-color: #55828B;
    color: white;
    padding: 10px;
}

.kanji-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-size-adjust: 80%;
}

.kanji-list-row {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    width: 100%;
}

.kanji-list .kanji-list-row:nth-child(2n) {
    background-color: #55828B;
}

.kanji-list-row > div {
    padding: 0px 10px 0px 10px;
    font-size: 2rem;
}

.kanji-list-kanji {
    font-size: 2.5rem;
    text-decoration: none;
}

.hint {
    font-size: 3rem;
    text-size-adjust: 80%;
}

.header {
    display: flex;
    border-bottom: 1px solid;
    justify-content: space-between;
    align-items: flex-start;
}

@media (min-width: 1024px) {
    h1 {
        font-size: 2rem;
    }
    
    a {
        font-size: 1.2rem;
    }

    .button-link {
        font-size: 1rem;
    }
    
    p {
        font-size: 1rem;
    }
    
    button {
        min-height: 2rem;
        font-size: 1rem;
    }

    .option-buttons {
        width: 500px;
    }

    .option-button {
        margin: 10px;
        font-size: 1.2rem;
        min-height: 4rem;
        padding: 0px;
        font-size-adjust: none;
    }

    .kanji-display {
        font-size: 2.5em;
        margin-top: 2rem;
    }

    .kanji-char {
        font-size: 2em;
    }

    h2 {
        font-size: 2rem;
    }

    .kanji-list {
        width: 700px;
    }

    .kanji-list-row > div {
        font-size: 1rem;
    }

    .hint {
        font-size: 1rem;
    }

    .header {
        justify-content: flex-end;
    }
}
