body {
    font-family: 'Noto Sans JP', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.option-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.option-button {
    font-size: 4rem;
    margin: 10px 0px 10px 0px;
    width: 100%;
    padding: 20px;
    display: block;
    height: 10rem;
}

.kanji-display {
    font-size: 8rem;
    margin: 0px;
}

.kanji-results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    width: 500px;
}

.kanji-char {
    font-size: 6em;
    justify-self: center;
}

.kanji-reading {
    justify-self: start;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 6rem;
}

a {
    font-size: 4rem;
}

p {
    font-size: 4rem;
}

button {
    height: 6rem;
    font-size: 3rem;
}

.kanji-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.kanji-list-row {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    width: 100%;
}

.kanji-list .kanji-list-row:nth-child(2n) {
    background-color: #AEF6C7;
}

.kanji-list-row > div {
    padding: 0px 10px 0px 10px;
    font-size: 2rem;
}

.kanji-list-kanji {
    font-size: 2.5rem;
    text-decoration: none;
}

.hint {
    font-size: 3rem;
}

@media (min-width: 1024px) {
    h1 {
        font-size: 2rem;
    }
    
    a {
        font-size: 1rem;
    }
    
    p {
        font-size: 1rem;
    }
    
    button {
        height: 3rem;
        font-size: 1rem;
    }

    .option-buttons {
        width: 500px;
    }

    .option-button {
        margin: 10px;
        font-size: 1.5rem;
        height: 4rem;
        padding: 0px;
    }

    .kanji-display {
        font-size: 2.5em;
        margin-top: 2rem;
    }

    .kanji-char {
        font-size: 2em;
    }

    h2 {
        font-size: 2rem;
    }

    .kanji-list {
        width: 700px;
    }

    .kanji-list-row > div {
        font-size: 1rem;
    }

    .hint {
        font-size: 1rem;
    }
}
