.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.option-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
}
.option-button {
    font-size: 1.5em;
    margin: 10px;
    width: 100%;
    padding: 10px;
}

.kanji-display {
    font-size: 2.5em;
}

.kanji-results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    width: 500px;
}

.kanji-char {
    font-size: 2em;
}